@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --padding: 1rem 20%;
}

$padding: var(--padding);

$inter:     'Inter', sans-serif;

$blue:          #3772FF;
$black:         #0C0C0C;
$gray:          #737373;
$white-200:     #EBEBEB;
$white:         #F9F9F9;

// Responsive
@mixin variables-max-1440 {
    :root {
        --padding: 1rem 18%;
    }
}

@mixin variables-max-1200 {
    :root {
        --padding: 1rem;
    }
}
