* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: $font-family-lexend;
}

html {
    background-color: $white-200;
}

a {
    text-decoration: none;
}

.header,
.container {
    padding: 7px 20%;

    transition: padding .2s ease-in-out;
}

.header {
    background: $gradient-default;

    &-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        * {
            color: $white;
            font-size: large;
        }
    }

    &-title {
        display: flex;
        align-items: center;

        margin-top: 14px;
        margin-bottom: 28px;

        span {
            font-size: large;
        }
    }

    &-navigation {
        display: flex;
        align-items: center;

        margin-top: 14px;
        margin-bottom: 28px;
    }

    &-search {
        width: 100%;

        form {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            margin-top: 28px;
            margin-bottom: 14px;

            border-radius: 2px;
            background-color: transparentize($white, 0.8);
        }

        button {
            width: 5%;
            height: 100%;

            background: none;
            border: none;
            cursor: pointer;
        }

        input {
            width: 95%;
            padding: 10px;

            background: none;
            border: none;
        }

        input:focus {
            outline: 2px solid $white-200;
        }

        input::-webkit-input-placeholder {
            color: transparentize($white, 0.4);
            font-weight: 300;
            font-size: medium;
        }

        input:hover::-webkit-input-placeholder {
            color: $white;
        }
    }
}

.container {

    padding-top: 3rem;
    padding-bottom: 3rem;

    .article {
        width: 100%;
        padding: 7px 14px;
        margin: 2rem auto;
        border-radius: 2px;

        background-color: $white;
        box-shadow: 0 0 7px transparentize($gray-dark, 0.9);

        &-details {
            padding: 7px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            color: $gray;
            font-size: medium;
            font-weight: 300;
        }

        &-title {
            padding-top: 7px;
            padding-bottom: 2px;

            color: $gray-dark;
            font-size: large;
            font-weight: 600;
        }

        &-paragraph {
            padding-top: 2px;
            padding-bottom: 7px;

            color: $gray;
            font-size: medium;
            font-weight: 400;
        }
    }

}

@media (max-width: 1024px) {
    .header,
    .container {
        padding-right: 10%;
        padding-left: 10%;
    }

    .header {
        &-search {
            button {
                width: 14%;

                background: none;
                border: none;
                cursor: pointer;
            }

            input {
                width: 86%;
            }
        }
    }
}

@media (max-width: 768px) {
    .header,
    .container {
        padding-right: 5%;
        padding-left: 5%;
    }
}

@media (max-width: 368px) {
    .header,
    .container {
        padding-right: 2%;
        padding-left: 2%;
    }
}