
$purple: #574aeb;
$blue: #3ea1db;

$white: #ffffff;
$white-200: #f9f9f9;

$gray: #717171;
$gray-dark: #1a202c;

$gradient-default: linear-gradient(90deg, $purple, $blue);

$font-family-inter: 'Inter', sans-serif;
$font-family-lexend: 'Lexend Deca', sans-serif;