@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

$font-family-lato: 'Lato', sans-serif;
$font-family-merriweather: 'Merriweather', serif;

$green-light: #04c35c;
$purple-light: #2b6cb0;

$white: #ffffff;
$white-200: #f7fafc;
$gray: #1a202c;