.return-to-home {
    position: fixed;
    bottom: 14px;
    left: 7px;
    z-index: 1000050;

    span {
        position: relative;
        padding: 7px 14px;
        border-radius: 5px;
        color: white;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
        background: linear-gradient(90deg, #2137CC, #2947FF);
        cursor: pointer;
    }

    span::before {
       content: attr(data-tooltip);
        position: absolute;
        top: 0;
        left: 105%;
        border-radius: 5px;
        padding: 7px 0;

        width: 0;
        overflow-x: hidden;
        white-space: nowrap;
        background: linear-gradient(90deg, #2137CC, #2947FF);

        transition: width .2s ease-in-out, padding .2s ease-in-out;
    }

    &:hover span::before {
        width: 100%;
        padding: 7px 14px;
    }
}