@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
.return-to-home {
  position: fixed;
  bottom: 14px;
  left: 7px;
  z-index: 1000050;
}

.return-to-home span {
  position: relative;
  padding: 7px 14px;
  border-radius: 5px;
  color: white;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(#DB0731), to(#f40735));
  background: linear-gradient(90deg, #DB0731, #f40735);
  cursor: pointer;
}

.return-to-home span::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 0;
  left: 105%;
  border-radius: 5px;
  padding: 7px 0;
  width: 0;
  overflow-x: hidden;
  white-space: nowrap;
  background-color: #f40735;
  -webkit-transition: width .2s ease-in-out, padding .2s ease-in-out;
  transition: width .2s ease-in-out, padding .2s ease-in-out;
}

.return-to-home:hover span::before {
  width: 100%;
  padding: 7px 14px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main-left, .main-right {
  width: 50%;
  -webkit-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
}

.main-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f7fafc;
}

.main-left img {
  width: 60%;
}

.main-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login {
  margin: auto 0;
}

.login-welcome, .login-title {
  font-family: "Merriweather", serif;
}

.login-title {
  padding-bottom: 14px;
}

.login-input {
  margin: 14px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-input label {
  margin-bottom: 7px;
}

.login-input input {
  padding: 7px 14px;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  outline-color: #2b6cb0;
}

.login-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: small;
}

.login-details a {
  color: #2b6cb0;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.login-details a:hover {
  color: #1d4977;
}

.login-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-submit, .login-google {
  padding: 14px;
  margin: 7px 0;
  border-radius: 5px;
  border: none;
  text-align: center;
  cursor: pointer;
}

.login-submit {
  margin-top: 14px;
  color: #ffffff;
  font-size: medium;
  font-weight: 600;
  background-color: #04c35c;
}

.login-google {
  margin-bottom: 14px;
  color: #ffffff;
  font-size: medium;
  font-weight: 600;
  background-color: #1a202c;
}

.register {
  padding: 14px 0;
}

.register a {
  color: #2b6cb0;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.register a:hover {
  color: #1d4977;
}

@media (max-width: 968px) {
  .main-left {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    overflow: hidden;
    width: 0;
    height: 0;
    display: none;
  }
  .main-right {
    width: 100%;
    margin-right: 14px;
    margin-left: 14px;
  }
}
/*# sourceMappingURL=style.css.map */