@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font-family-b612: 'B612', sans-serif;

$yellow: #ffa800;
$blue: #0072d2;

$white: #ffffff;
$dark: #131318;