@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.return-to-home {
  position: fixed;
  bottom: 14px;
  left: 7px;
  z-index: 1000050;
  text-decoration: none;
}

.return-to-home span {
  position: relative;
  padding: 7px 14px;
  border-radius: 5px;
  color: white;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(#DB0731), to(#f40735));
  background: linear-gradient(90deg, #DB0731, #f40735);
  cursor: pointer;
}

.return-to-home span::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 0;
  left: 105%;
  border-radius: 5px;
  padding: 7px 0;
  width: 0;
  overflow-x: hidden;
  white-space: nowrap;
  background-color: #f40735;
  -webkit-transition: width .2s ease-in-out, padding .2s ease-in-out;
  transition: width .2s ease-in-out, padding .2s ease-in-out;
}

.return-to-home:hover span::before {
  width: 100%;
  padding: 7px 14px;
}

@font-face {
  font-family: 'October Crow';
  src: url("../font/OctoberCrow.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #2b0e11;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #ee9430;
}

a {
  text-decoration: none;
}

.background-image {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1050;
  background-color: #15181F;
  background-image: url("../../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.main {
  padding: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
}

.title,
.game-panel,
.select-label,
.select-list,
.game-panel .time,
.game-panel .move,
.game,
.game-rules legend {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.title {
  padding: 2rem 0;
  color: #ee9430;
  font-family: "October Crow", sans-serif;
  font-size: 5rem;
  letter-spacing: 7px;
  animation: bright 3s alternate-reverse infinite;
}

.game-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game-panel .select,
.game-panel .time,
.game-panel .move {
  margin: 3.5px;
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ee9430;
  font-weight: 600;
  background-color: #2b0e11;
  border-radius: 2px;
  border: 2px solid #ee9430;
}

.select-label, .select-list {
  padding: 7px 14px;
}

.select-list {
  position: relative;
  cursor: pointer;
  font-weight: 500;
}

.select-list.show .select-display .icofont-rounded-down {
  display: none;
}

.select-list.show .select-display .icofont-rounded-up {
  display: initial;
}

.select-list.show .select-options {
  display: block;
}

.select-display {
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.select-display .icofont-rounded-up {
  display: none;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: -2px;
  width: 100%;
  padding: 3.5px 0;
  z-index: 1050;
  background-color: #2b0e11;
  border-radius: 2px;
  border: 2px solid #ee9430;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.select-item {
  padding: 3.5px 14px;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.select-list:hover, .select-item:hover {
  background-color: #100506;
}

.display-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display-point div {
  padding: 7px 14px;
  color: #ee9430;
  font-weight: 600;
  border: 2px solid #ee9430;
  background-color: #2b0e11;
}

.game {
  padding: 2rem 0 5rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game .card {
  position: relative;
  margin: 7px;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
  transition: transform .2s ease-in-out, box-shadow .2s ease-in-out, -webkit-transform .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  -webkit-box-shadow: 0 0 15px rgba(238, 148, 48, 0.1);
          box-shadow: 0 0 15px rgba(238, 148, 48, 0.1);
}

.game .card:hover {
  -webkit-box-shadow: 0 0 25px rgba(238, 148, 48, 0.3);
          box-shadow: 0 0 25px rgba(238, 148, 48, 0.3);
}

.game .card-face {
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  border: 2px solid transparent;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50%;
}

.game .card-front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  border-radius: 1px;
  border-color: #15181F;
  background-color: #15181F;
}

.game .card-back {
  border-color: #ee9430;
  background-color: #2b0e11;
  background-image: url("../../images/question.png");
}

.game .card.match, .game .card.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.game .card.match .card-front {
  border-radius: 2px;
  border-color: #ee9430;
}

.bonus {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bonus-joker {
  position: relative;
  margin: 7px 0;
  padding: 10px 17px;
  overflow: hidden;
  cursor: not-allowed;
  font-size: x-large;
  color: #ee9430;
  background-color: transparent;
}

.bonus-joker::before, .bonus-joker::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: #2b0e11;
  -webkit-transition: margin .1s ease-in-out;
  transition: margin .1s ease-in-out;
}

.bonus-joker:hover::before {
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
}

.bonus-joker::before {
  -webkit-animation: rotate-box 1s linear infinite;
          animation: rotate-box 1s linear infinite;
}

.bonus-joker:hover::after {
  margin: 5px;
}

.bonus-joker::after {
  margin: 3px;
  background-color: #15181F;
}

.bonus-joker.available {
  cursor: pointer;
}

.bonus-joker.available::before {
  background: -webkit-gradient(linear, left top, right top, from(#ecc839), color-stop(#ecc839), color-stop(#ee9430), to(#15181F));
  background: linear-gradient(90deg, #ecc839, #ecc839, #ee9430, #15181F);
}

.bonus-joker.available::after {
  background-color: #2b0e11;
}

.game-rules {
  padding: 0.5rem 2rem 2rem;
  width: 800px;
  max-width: 90%;
  color: #ee9430;
  border: 7px double #ee9430;
  background-color: #2b0e11;
}

.game-rules legend {
  padding: 7px 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.game-rules div + div {
  margin: 14px 0;
}

.game-rules h3 {
  padding: 7px 0;
}

.game-rules p {
  line-height: 1.7;
  text-indent: 1.5rem;
}

.game-finished {
  position: fixed;
  width: 72%;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -110%);
          transform: translate(-50%, -110%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  color: #ee9430;
  border-radius: 2px;
  border: 2px solid #ee9430;
  background-color: #2b0e11;
  -webkit-box-shadow: 0 0 25px black, 0 0 55px black, 0 0 10rem black;
          box-shadow: 0 0 25px black, 0 0 55px black, 0 0 10rem black;
  -webkit-transition: top .2s ease-in-out, opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
  transition: top .2s ease-in-out, opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out, top .2s ease-in-out, opacity .2s ease-in-out;
  transition: transform .2s ease-in-out, top .2s ease-in-out, opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.game-finished.show {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.game-finished > span {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  z-index: 1051;
  background-image: url("../../images/web.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.game-finished .title {
  margin-top: 36px;
}

.game-finished p {
  font-size: large;
}

.game-finished .display {
  position: relative;
  margin: 30px 0;
}

.game-finished .display span {
  font-weight: 600;
}

.game-finished button {
  display: block;
  padding: 7px 14px;
  margin: 3.5px 0 63px;
  width: 300px;
  max-width: 70%;
  cursor: pointer;
  color: #ee9430;
  font-size: large;
  font-weight: 700;
  border-radius: 2px;
  border: 2px solid #ee9430;
  background-color: #2b0e11;
  -webkit-box-shadow: 0 0 15px #100506;
          box-shadow: 0 0 15px #100506;
}

.game-finished button:hover {
  background-color: #100506;
  -webkit-box-shadow: 0 0 25px #100506;
          box-shadow: 0 0 25px #100506;
}

@media (max-width: 768px) {
  .title {
    margin-top: 7rem;
    font-size: 4rem;
  }
  .game {
    width: 90%;
  }
  .game .card {
    width: 125px;
    height: 125px;
  }
}

@media (max-width: 560px) {
  .title {
    margin-top: 7rem;
    font-size: 3rem;
  }
}

@-webkit-keyframes bright {
  0%,
  49% {
    text-shadow: 0 0 35px rgba(238, 148, 48, 0.7);
  }
  22% {
    text-shadow: 0 0 12px rgba(238, 148, 48, 0);
  }
  50%,
  100% {
    text-shadow: 0 0 35px rgba(238, 148, 48, 0.7);
  }
  75% {
    text-shadow: 0 0 21px rgba(238, 148, 48, 0.4);
  }
}

@keyframes bright {
  0%,
  49% {
    text-shadow: 0 0 35px rgba(238, 148, 48, 0.7);
  }
  22% {
    text-shadow: 0 0 12px rgba(238, 148, 48, 0);
  }
  50%,
  100% {
    text-shadow: 0 0 35px rgba(238, 148, 48, 0.7);
  }
  75% {
    text-shadow: 0 0 21px rgba(238, 148, 48, 0.4);
  }
}

@-webkit-keyframes rotate-box {
  0% {
    -webkit-transform: scale(3) rotate(0deg);
            transform: scale(3) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(3) rotate(360deg);
            transform: scale(3) rotate(360deg);
  }
}

@keyframes rotate-box {
  0% {
    -webkit-transform: scale(3) rotate(0deg);
            transform: scale(3) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(3) rotate(360deg);
            transform: scale(3) rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */