@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
.return-to-home {
  position: fixed;
  bottom: 14px;
  left: 7px;
  z-index: 1000050;
}

.return-to-home span {
  position: relative;
  padding: 7px 14px;
  border-radius: 5px;
  color: white;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(#DB0731), to(#f40735));
  background: linear-gradient(90deg, #DB0731, #f40735);
  cursor: pointer;
}

.return-to-home span::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 0;
  left: 105%;
  border-radius: 5px;
  padding: 7px 0;
  width: 0;
  overflow-x: hidden;
  white-space: nowrap;
  background-color: #f40735;
  -webkit-transition: width .2s ease-in-out, padding .2s ease-in-out;
  transition: width .2s ease-in-out, padding .2s ease-in-out;
}

.return-to-home:hover span::before {
  width: 100%;
  padding: 7px 14px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Merriweather", serif;
}

html {
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
}

.header {
  padding: 5rem 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #d7d4ff;
}

.header-welcome, .header-gift {
  -webkit-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
}

.header-welcome {
  width: 30%;
}

.header-title span {
  font-size: xx-large;
}

.header-paragraph {
  margin: 28px 0;
  color: #555555;
  font-size: large;
  font-weight: 500;
  font-family: "Lato", sans-serif;
}

.header-gift {
  width: 40%;
}

.header-gift img {
  width: 100%;
}

.header-button {
  display: inline-block;
  padding: 14px 28px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.05rem;
  background-color: #6c63ff;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.header-button:hover {
  background-color: #4a3fff;
}

.main {
  padding: 5rem 14%;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .card {
  margin: 2rem 0;
  width: 25.1%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 20px rgba(42, 42, 42, 0.2);
          box-shadow: 0 0 20px rgba(42, 42, 42, 0.2);
  -webkit-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
}

.main .card-image {
  padding-bottom: 70%;
}

.main .card-title {
  padding: 28px 28px 14px;
  color: #2a2a2a;
}

.main .card-paragraph {
  padding: 14px 28px 28px;
  color: #555555;
  font-size: medium;
  font-family: "Lato", sans-serif;
}

.main .card:nth-child(1) .card-image {
  background-color: #FF6363;
}

.main .card:nth-child(2) .card-image {
  background-color: #63ECFF;
}

.main .card:nth-child(3) .card-image {
  background-color: #F363FF;
}

.main .card:nth-child(4) .card-image {
  background-color: #63FF73;
}

.main .card:nth-child(5) .card-image {
  background-color: #FFDD63;
}

.main .card:nth-child(6) .card-image {
  background-color: #6663FF;
}

.footer {
  padding: 5rem 0;
  text-align: center;
  background-color: #d7d4ff;
}

.footer .contact {
  margin-right: auto;
  margin-left: auto;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
}

.footer .contact-title {
  margin-bottom: 28px;
}

.footer .contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .contact input,
.footer .contact textarea,
.footer .contact button {
  padding: 14px;
  margin: 7px 0;
  width: 100%;
  border-radius: 5px;
  border: none;
  font-family: "Lato", sans-serif;
}

.footer .contact button {
  color: #ffffff;
  font-size: large;
  font-weight: 500;
  background-color: #6c63ff;
}

@media (max-width: 1368px) {
  .header-welcome, .header-gift {
    width: 45%;
  }
  .main .card {
    width: 45%;
  }
  .footer .contact {
    width: 45%;
  }
}

@media (max-width: 1024px) {
  .header {
    padding-right: 7%;
    padding-left: 7%;
  }
}

@media (max-width: 968px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-welcome, .header-gift {
    width: 100%;
  }
  .header-gift {
    padding-top: 5rem;
    text-align: center;
  }
  .header-gift img {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .main .card {
    width: 98%;
  }
  .footer .contact {
    width: 84%;
  }
}

@media (max-width: 568px) {
  .header-gift img {
    width: 90%;
  }
}

@media (max-width: 368px) {
  .header-gift img {
    width: 98%;
  }
}
/*# sourceMappingURL=style.css.map */