@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.return-to-home {
  position: fixed;
  bottom: 14px;
  left: 7px;
  z-index: 1000050;
  text-decoration: none;
}

.return-to-home span {
  position: relative;
  padding: 7px 14px;
  border-radius: 5px;
  color: white;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(#DB0731), to(#f40735));
  background: linear-gradient(90deg, #DB0731, #f40735);
  cursor: pointer;
}

.return-to-home span::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 0;
  left: 105%;
  border-radius: 5px;
  padding: 7px 0;
  width: 0;
  overflow-x: hidden;
  white-space: nowrap;
  background-color: #f40735;
  -webkit-transition: width .2s ease-in-out, padding .2s ease-in-out;
  transition: width .2s ease-in-out, padding .2s ease-in-out;
}

.return-to-home:hover span::before {
  width: 100%;
  padding: 7px 14px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.background-image {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.background-image::before, .background-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #FF4656;
}

.background-image::before {
  width: calc(100% - 60px);
  height: 100%;
  margin: 0 28px;
  border-top: 0;
  border-bottom: 0;
}

.background-image::after {
  width: 100%;
  height: calc(100% - 32px);
  margin: 14px 0;
  border-right: 0;
  border-left: 0;
}

.app {
  position: fixed;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18px 32px 0;
  overflow-y: auto;
}

.header {
  padding: 7px 5%;
  margin-bottom: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-logo {
  max-width: 60px;
}

.header-title {
  font-weight: 600;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-navigation a {
  margin: 0 7px;
}

.main {
  padding: 0 5%;
  margin-bottom: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-right {
  width: 40%;
}

.main-left {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.main-title {
  padding: 28px 0;
  width: 100%;
  color: transparent;
  -webkit-text-stroke: 1px white;
  font-size: 3rem;
  text-transform: uppercase;
}

.main-perfil {
  padding: 14px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.main-character img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 90%;
  max-height: 100%;
}

.profile {
  margin: 7px 14px;
}

.profile:nth-of-type(1) .profile-image::after {
  background-image: url("../../images/perfil_01.png");
}

.profile:nth-of-type(2) .profile-image::after {
  background-image: url("../../images/perfil_02.png");
}

.profile:nth-of-type(3) .profile-image::after {
  background-image: url("../../images/perfil_03.png");
}

.profile-image {
  position: relative;
  min-width: 170px;
  min-height: 170px;
  max-width: 170px;
  max-height: 170px;
}

.profile-image::before, .profile-image::after {
  content: '';
  position: absolute;
  inset: 0;
  -webkit-clip-path: polygon(0 20px, 20px 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 20px, 20px 0, 100% 0, 100% 100%, 0 100%);
}

.profile-image::before {
  z-index: -2;
  background-color: #ffffff;
}

.profile-image::after {
  margin: 3px;
  z-index: -2;
  background-color: #FF4656;
}

.profile-image .outline::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -3;
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  background-color: #ffffff;
  -webkit-clip-path: polygon(0 11.76%, 11.76% 0, 100% 0, 100% 50%, 98% 50%, 98% 2%, 12% 2%, 2% 12%, 2% 98%, 50% 98%, 50% 100%, 0 100%);
          clip-path: polygon(0 11.76%, 11.76% 0, 100% 0, 100% 50%, 98% 50%, 98% 2%, 12% 2%, 2% 12%, 2% 98%, 50% 98%, 50% 100%, 0 100%);
}

.profile-text {
  padding: 7px 0;
  color: #FF4656;
  text-align: center;
  font-weight: 800;
}

@media (max-width: 968px) {
  .main-left {
    width: 100%;
  }
  .main-right {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */