$purple: #6c63ff;
$purple-light: #d7d4ff;

$white: #ffffff;
$white-200: #f9f9f9;
$gray: #555555;
$gray-dark: #2a2a2a;

$cards: (
    1 #FF6363,
    2 #63ECFF,
    3 #F363FF,
    4 #63FF73,
    5 #FFDD63,
    6 #6663FF
);