

.game-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .select,
    .time,
    .move {
        margin: 3.5px;
    }
}

.select {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    color: $yellow;
    font-weight: 600;
    background-color: $red;
    border-radius: 2px;
    border: 2px solid $yellow;

    &-label,
    &-list {
        padding: 7px 14px;
    }

    &-list {
        position: relative;

        cursor: pointer;
        font-weight: 500;
    }

    &-list.show &-display .icofont-rounded-down {
        display: none;
    }

    &-list.show &-display .icofont-rounded-up {
        display: initial;
    }

    &-list.show &-options {
        display: block;
    }

    &-display {
        min-width: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icofont-rounded-up {
            display: none;
        }
    }

    &-options {
        display: none;
        position: absolute;
        top: 100%;
        right: -2px;
        width: 100%;
        padding: 3.5px 0;
        z-index: 1050;

        background-color: $red;
        border-radius: 2px;
        border: 2px solid $yellow;

        box-shadow: 0 10px 30px transparentize(black, 0.9);
    }

    &-item {
        padding: 3.5px 14px;

        transition: background-color .2s ease-in-out;
    }

    &-list:hover,
    &-item:hover {
        background-color: darken($red, 7);
    }
}

.display-point {
    display: flex;

    div {
        padding: 7px 14px;

        color: $yellow;
        font-weight: 600;
        border: 2px solid $yellow;
        background-color: $red;
    }
}