
.game-finished {
    position: fixed;
    width: 72%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -110%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    color: $yellow;
    border-radius: 2px;
    border: 2px solid $yellow;
    background-color: $red;
    box-shadow: 0 0 25px black, 0 0 55px black, 0 0 10rem black;

    transition: transform .2s ease-in-out, top .2s ease-in-out, opacity .2s ease-in-out;

    &.show {
        top: 50%;
        transform: translate(-50%, -50%);

        opacity: 1;
    }

    & > span {
        position: absolute;
        width: 125px;
        height: 125px;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        z-index: 1051;

        background-image: url('../../images/web.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
    }

    .title {
        margin-top: 36px;
    }

    p {
        font-size: large;
    }

    .display {
        position: relative;
        margin: 30px 0;

        span {
            font-weight: 600;
        }
    }

    button {
        display: block;
        padding: 7px 14px;
        margin: 3.5px 0 63px;
        width: 300px;
        max-width: 70%;

        cursor: pointer;
        color: $yellow;
        font-size: large;
        font-weight: 700;
        border-radius: 2px;
        border: 2px solid $yellow;
        background-color: $red;
        box-shadow: 0 0 15px darken($red, 7);

        &:hover {
            background-color: darken($red, 7);
            box-shadow: 0 0 25px darken($red, 7);
        }
    }
}
