
.game {
    padding: 2rem 0 5rem;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .card {
        position: relative;
        margin: 7px;
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        transform-style: preserve-3d;
        transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
        box-shadow: 0 0 15px transparentize($yellow, 0.9);

        &:hover {
            box-shadow: 0 0 25px transparentize($yellow, 0.7);
        }

        &-face {
            position: absolute;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 5px;
            border: 2px solid transparent;
            background-repeat: no-repeat;
            background-size: auto;
            background-position: 50%;
        }

        &-front {
            transform: rotateY(180deg);

            border-radius: 1px;
            border-color: $dark;
            background-color: $dark;
        }

        &-back {
            border-color: $yellow;
            background-color: $red;
            background-image: url('../../images/question.png');
        }

        &.match,
        &.flip {
            transform: rotateY(180deg);
        }

        &.match .card-front {
            border-radius: 2px;
            border-color: $yellow;
        }
    }
}

.bonus {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    &-joker {
        position: relative;
        margin: 7px 0;
        padding: 10px 17px;
        overflow: hidden;

        cursor: not-allowed;
        font-size: x-large;
        color: $yellow;
        background-color: transparent;

        &::before,
        &::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;

            background-color: $red;
            transition: margin .1s ease-in-out;
        }

        &:hover::before {
            animation-duration: .3s;
        }

        &::before {
            animation: rotate-box 1s linear infinite;
        }

        &:hover::after {
            margin: 5px;
        }

        &::after {
            margin: 3px;

            background-color: $dark;
        }

        &.available {
            cursor: pointer;

            &::before {
                background: linear-gradient(90deg, $yellow-light, $yellow-light, $yellow, $dark);
            }

            &::after {
                background-color: $red;
            }
        }
    }
}
