* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: $font-family-openSans;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: $red;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: $yellow;
}

a {
    text-decoration: none;
}

.background-image {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1050;

    background-color: $dark;
    background-image: url('../../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.main {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.title,
.game-panel,
.select-label,
.select-list,
.game-panel .time,
.game-panel .move,
.game,
.game-rules legend {
    user-select: none
}

.title {
    padding: 2rem 0;

    color: $yellow;
    font-family: $font-family-octoberCrow;
    font-size: 5rem;
    letter-spacing: 7px;
    animation: bright 3s alternate-reverse infinite;
}
