@media (max-width: 768px) {
    .title {
        margin-top: 7rem;

        font-size: 4rem;
    }

    .game {
        width: 90%;

        .card {
            width: 125px;
            height: 125px;
        }
    }
}

@media (max-width: 560px) {
    .title {
        margin-top: 7rem;

        font-size: 3rem;
    }
}
