@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

$font-family-lato: 'Lato', sans-serif;
$font-family-merriweather: 'Merriweather', serif;

$purple: #6c63ff;
$purple-light: #d7d4ff;

$white: #ffffff;
$white-200: #f9f9f9;
$gray: #555555;
$gray-dark: #2a2a2a;

$cards: (
    1 #FF6363,
    2 #63ECFF,
    3 #F363FF,
    4 #63FF73,
    5 #FFDD63,
    6 #6663FF
);